

body {
  background-color: rgba(5, 73, 85, 0.375);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.card {
  background-color: rgb(40, 150, 93);
  width: 300px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(rgb(0, 0, 0), green, blue, alpha);
  text-align: center;
}

h1 {
  color: rgb(16, 83, 63);
}

button {
  background-color: rgb(12, 111, 224);
  color: aliceblue;
  border: 0cap;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
