 body {
    background-color: rgb(213, 176, 118);
    margin: 0;
    height: auto
  }

  div {
    border: #000 solid 1px;
    margin-top: 20px;
  }

  li {
    border: 1px solid black;
    padding: 10px;
  }

  /* * {
        border: 1px solid black;

    } */

  * {
    line-height: 1.7;
    letter-spacing: 0.5px;
  }

  .flex {
    display: flex;
  }

  .flex1 {
    flex: 1;
  }

  .column {
    flex-direction: column;
  }

  .zongse {
    background-color: rgb(207, 189, 163);
  }

  .baise {
    background-color: rgb(209, 196, 158);
  }

  .padding {
    padding: 1;
  }

  .mag8 {
    margin: 8px;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .align {
    align-items: center;
  }

  .justify {
    justify-content: center;
  }

  code {
    font-size: 20px;
    color: brown;
  }

  button {
    width: fit-content;
  }

  .shadow {
    box-shadow: 5px 5px 3px #888888;
    ;
  }

  .lanse {
    background-color: rgb(240, 247, 250);
  }

  .roman {
    list-style-type: lower-roman;
  }

  p {
    text-indent: 40px;
  }

  h1 {
    text-align: center;
  }


  a:link {
    color: #247cca;
    text-decoration: none;
  }

  a:visited {
    color: #232323;
  }

  a:hover {
    color: #ff00ff;
  }

  a:active {
    color: #0000ff;
  }